{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>{% block title %}Aubaine- Les bons plans des commerçants{% endblock %}</title>
    {% block metaDescription %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    
    <link media="all" href='https://fonts.googleapis.com/css?family=Raleway:300italic,400italic,700italic,400,700,300,500' rel='stylesheet' type='text/css'>
    
    <!-- Meta tags -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta property='og:image' content="{{ asset('images/screenshot-map.png') }}"/>
    <meta property="og:image:type" content="image/png">
    <meta property="og:title" content="Aubaine" />
    <meta property="fb:admins" content="" />
    <meta property="fb:app_id" content="639260759607903" />
    <meta property="og:description" content="les bons plans autour de vous aujourd'hui">
    <meta property="og:url" content="https://www.aubaineapp.fr"/>
    <meta name="apple-mobile-web-app-title" content="Aubaine">
    
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('images/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('images/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('images/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('images/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('images/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('images/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('images/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('images/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('images/android-icon-192x192.png') }}') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('images/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('images/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('images/manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ asset('images/ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">
    

    {% block stylesheets %}

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.3/css/bootstrap-select.min.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ==" crossorigin=""/>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">
        {% stylesheets filter='cssrewrite, scssphp' 
            'bundles/aubainecore/css/*' %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
    {% endblock %}
  </head>

  <body>
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="{{ path('aubaine_core_homepage') }}"><img alt="Brand" src="{{ asset('images/logo-aubaine-new-large.png') }}" style="height:26px;"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-left">
                <li class="{% if app.request.attributes.get('_route') == 'aubaine_core_homepage' %}active{% endif %}"  id='menu-tab-accueil'><a id='menu-button-accueil' href="{{ path('aubaine_core_homepage') }}"> Accueil</a></li>
                <li class="{% if app.request.attributes.get('_route') == 'aubaine_core_live' %}active{% endif %}"  id='menu-tab-accueil'><a id='menu-button-accueil' href="{{ path('aubaine_core_live') }}"> Recherche</a></li>
                <li class="{% if app.request.attributes.get('_route') == 'aubaine_core_map' %}active{% endif %}"  id='menu-tab-accueil'><a id='menu-button-accueil' href="{{ path('aubaine_core_map') }}"> Carte</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                    <!-- MyAubaines -->
                    <li class="{% if app.request.attributes.get('_route') == 'aubaine_platform_my_aubaines' %}active{% endif %}" ><a href="{{ path('aubaine_platform_my_aubaines') }}"><span class="glyphicon glyphicon-calendar"></span>  Agenda</a></li>

                    <!-- Admin if admin -->
                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-lock"></span> Admin
                      <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li class="{% if app.request.attributes.get('_route') == 'aubaine_platform_home' %}active{% endif %}"><a href="{{ path('aubaine_platform_home') }}"><span class="glyphicon glyphicon-star"></span> Aubaine</a></li>
                        <li class="{% if app.request.attributes.get('_route') == 'aubaine_place_home' %}active{% endif %}"><a href="{{ path('aubaine_place_home') }}"><span class="glyphicon glyphicon-record"></span> Lieux</a></li>
                        <li class="{% if app.request.attributes.get('_route') == 'aubaine_user_home' %}active{% endif %}"><a href="{{ path('aubaine_user_home') }}"><span class="glyphicon glyphicon-user"></span> Utilisateurs</a></li>
                      </ul>
                    </li>
                    {% endif %}

                    <!-- Profile -->
                    <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> Profil
                      <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li class="{% if app.request.attributes.get('_route') == 'aubaine_user_my_profile' %}active{% endif %}" ><a href="{{ path('aubaine_user_my_profile') }}"><span class="glyphicon glyphicon-user"></span> Voir mon Profil</a></li>
                        <li class="{% if app.request.attributes.get('_route') == 'fos_user_profile_edit' %}active{% endif %}" ><a href="{{ path('fos_user_profile_edit') }}"><span class="glyphicon glyphicon-edit"></span>  Modifier mon profil</a></li>
                        <li class="{% if app.request.attributes.get('_route') == 'fos_user_change_password' %}active{% endif %}" ><a href="{{ path('fos_user_change_password') }}"><span class="glyphicon glyphicon-edit"></span>  Modifier mon mot de passe</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-out"></span> Déconnexion</a></li>
                      </ul>
                    </li> 

                {% else %}
                    <li class="{% if app.request.attributes.get('_route') == 'fos_user_security_login' %}active{% endif %}"><a href="{{ path('fos_user_security_login') }}">connexion</a></li>
                    <li class="{% if app.request.attributes.get('_route') == 'aubaine_core_subscription' %}active{% endif %}"><a href="{{ path('aubaine_core_subscription') }}">inscription</a></li>
                {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    {% block body %}   
     <div class="content container-fluid">
        <div class="row content top-row">
            <div class="col-sm-2 sidenav">
                <!-- <p><a href="#">Link</a></p>
                <p><a href="#">Link</a></p>
                <p><a href="#">Link</a></p> -->
            </div>
            <div class="col-sm-8 text-left body_column_center"> 
                {% block body_column_center %} 
                {% endblock %} 
            </div>
            <div class="col-sm-2 sidenav">
                <!-- <div class="well">
                    <p>ADS</p>
                </div>
                <div class="well">
                    <p>ADS</p>
                </div> -->
            </div>
        </div>
    </div>
    {% endblock %}

    {% block footer %}   
     <div class="footer">
        <div class="container">
          <img class="logo" alt="Brand" src="{{ asset('images/logo-aubaine-new-large.png') }}" style="height:26px;">
          <div class="row">
            <div class="col-sm-4 summary">
                    <p>Aubaine est une plateforme où les commerçants peuvent partager des messages. Il peut s'agir de promotions, de nouveautés, d'évènements ou d'autres surprises. Les messages sont libres d'accès et à destination de tout le monde.</p>
            </div>
            <div class="col-sm-4 social">
                    <a href="https://www.facebook.com/aubainetoulousaine/" id="facebook_link_footer" target="_blank"  class="social-logo"><img alt='Facebook2' src="{{ asset('images/face.png') }} "></a>
                    <a href="https://twitter.com/AubaineToulouse" id="tweeter_link_footer" target="_blank"  class="social-logo"><img alt='Twitter2' src="{{ asset('images/twit.png') }} "></a>
                    <a href="http://instagram.com/aubaine_toulouse" id="insta_link_footer" target="_blank"  class="social-logo"><img alt='Instagram2' src="{{ asset('images/insta.png') }} "></a>
            </div>
            <div class="col-sm-4 links">
              <ul>
                <li><a href="{{ path('aubaine_core_cgu') }}" target="_blank">Conditions Générales</a></li>
                <li><a href="mailto:contact@aubaineapp.fr">Contact</a></li>
              </ul>                 
            </div>
            <!-- <div id='footer-newsletters'>
                <form method="post" class="form-inline home-form-newsletter" action ="{{ path('aubaine_core_ajax_newsletter') }}">
                    <input type="email" value="" class="email form-control" placeholder='Je veux des news !' name="email"  required="required" data-fv-emailaddress-message="L'adresse mail n'est pas valide" autocomplete="off" /><input type='submit' value="Envoyer" id='add-email-submit' name='submit' class='btn btn-primary' data-loading-text="Enregistrement..." />
                    <input type='hidden' name='action' value='myajax-add-email-intro' />
                </form>
                <div id="result-add-mail-error"></div>
                <div id="result-add-mail-success"></div>
            </div> -->
            <div id="footer-infos">
            </div>
        </div>
      </div>
    </div>
    {% endblock %}

  {% block javascripts %}
    	<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js" integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg==" crossorigin=""></script>
    	<script src='https://api.mapbox.com/mapbox-gl-js/v0.35.1/mapbox-gl.js'></script>
    	<link href='https://api.mapbox.com/mapbox-gl-js/v0.35.1/mapbox-gl.css' rel='stylesheet' />  
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js" charset="UTF-8"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.3/js/bootstrap-select.min.js"></script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();
              a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];
              a.async=1;
              a.src=g;
              m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-83975665-1', 'auto');
            ga('send', 'pageview');
            // remove out of localhost
            document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
        </script>
        <script>
          window.fbAsyncInit = function() {
            FB.init({
              appId      : '639260759607903',
              xfbml      : true,
              version    : 'v2.9'
            });
            FB.AppEvents.logPageView();
          };

          (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement(s); js.id = id;
             js.src = "//connect.facebook.net/en_US/sdk.js";
             fjs.parentNode.insertBefore(js, fjs);
           }(document, 'script', 'facebook-jssdk'));
        </script>
  {% endblock %}


  </body>
</html>
