{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "AubaineEventBundle::layout.html.twig" %}

{% block title %}
  Évènements - {{ parent() }}
{% endblock %}

{% block aubaineevent_body %}
<h1>Les Évènements à ne pas louper</h1>
  <div class="eventList">
    {% for event in listEvents %}
      <div class="messageExtract">
          <div class="image">
              <img src="{{ asset('images/event/' ~ event.imageHeader) }}" alt="" class="avatar">
          </div>
          <div class="content">
              Le festival des orgues se donne en folie toute la semaine du 17 Juillet
          </div>
          <div class="place">
              <a href="{{ path('aubaine_event_public_view', {'id': event.id}) }}" class="btn btn-primary category-event">
                  <img src="{{ asset('images/event.png') }} " alt="" class="category category-{{ event.category }}">
                  {{ event.title }}
              </a>
          </div>
      </div>
    {% endfor %}
  </div>
  <ul class="pagination">
      {% for p in range(1, nbPages) %}
        <li{% if p == page %} class="active"{% endif %}>
          <a href="{{ path('aubaine_event_home', {'page': p}) }}">{{ p }}</a>
        </li>
      {% endfor %}
  </ul>


{% endblock %}
