{% extends "AubaineCoreBundle::layout.html.twig" %}

{% block title %}
  Concept - {{ parent() }}
{% endblock %}

{% block body_column_center %}

    <div id="body-concept">
        <div id='concept-header'>
            <h1>
                Les commerçants vous transmettent des bons plans
            </h1>
        </div>
        <div id="concept-user">
            <h3>
                <!-- Nos commerces partenaires proposent des opportunités à tout moment, restez à l'affut ! -->
            </h3>
            <div class="assets">
                <h4>Promotions</h4>
                <p>
                    Prix cassés, destockages, soldes,  bénéficiez des prix réduits qui s'offrent à vous.
                </p>
            </div>
            <div class="assets">
                <h4>Évènements</h4>
                <p>
                    Dîtes bonjour à l'improvisation. Trouvez des évènements à la dernière minute.
                </p>
            </div>
            <div class="assets">
                <h4 class="discover">Nouveautés</h4>
                <p>
                    Nouveau produit, nouveau concept, laissez vous surprendre par leur créativité. 
                </p>
            </div>
        </div>
        <div id="concept-partner">
            <div class="figures"><span><b>{{number_partner}}</b><br> Partenaires</span></div>
            <!-- <h3>
                Boutiques, Bars, Restaurants, Coiffeur, et bien d'autres encore.... 
            </h3> -->
              <div id="myCarousel" class="carousel slide" data-ride="carousel">

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                </div>

                <!-- Left and right controls -->
                <!-- <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  <span class="sr-only">Next</span>
                </a> -->
              </div>
        </div>
       <div id='partner-header'>
            <h1>
                Vous êtes un commerce ?
            </h1>
            <h2>
                Communiquez des messages pour attirer vos clients
            </h2>
        </div>
        <div id='partner-avantages'>
            <div class="assets">
                <h4>Simple</h4>
                <p>
                    Utiliser notre interface est aussi simple et rapide que d'écrire sur une ardoise.
                </p>
            </div>
            <div class="assets">
                <h4>Instantané</h4>
                <p>
                    Nous transmettons vos messages instantanément, vous profitez d'une communication temps réel.
                </p>
            </div>
            <div class="assets">
                <h4>Pratique</h4>
                <p>
                    Nouveautés, concepts, promotions,... Adaptez vos messages à votre activités.
                </p>
            </div>
            <div class="assets">
                <h4>Gratuit</h4>
                <p>
                    La diffusion de messages est totalement gratuite, vous êtes entièrement gagnant.
                </p>
            </div>
        </div>
        <div id='partner-functionment'>
            <div class="aubaineExtract" target="_blank">
                <div class="image" style="background-image:url('{{ asset('images/place/toulouse.jpg') }}')"></div>
                <div class="content">
                    Soirée exceptionnelle pour la fête nationnale ! Ambiance espagnole toute la nuit.
                </div>
                <div class="place">
                    <img src="{{ asset('images/location.png') }} " alt="" class="location">
                    Le bougeoir
                </div>
                <div class="date">
                    <img src="{{ asset('images/calendar.png') }} " alt="" class="calendar">
                    le 14 Juillet
                </div>
            </div>
            <div class="aubaineExtract" target="_blank">
                <div class="image" style="background-image:url('{{ asset('images/place/happy.png') }}')"></div>
                <div class="content">
                    Tous les lundis, c'est happy hours de 17h à 19h ! Les bières en pression sont à moitié prix.
                </div>
                <div class="place">
                    <img src="{{ asset('images/location.png') }} " alt="" class="location">
                    Le bar des découverte
                </div>
                <div class="date">
                    <img src="{{ asset('images/calendar.png') }} " alt="" class="calendar">
                    Toute l'année
                </div>
            </div>
            <div class="aubaineExtract" target="_blank">
                <div class="image" style="background-image:url('{{ asset('images/place/596337909956f.jpg') }}')"></div>
                <div class="content">
                    Nous vous invitons à découvrir l'exposition de l'artiste "Toulouse Grapher" dans notre café.
                </div>
                <div class="place">
                    <img src="{{ asset('images/location.png') }} " alt="" class="location">
                    Le café du printemps
                </div>
                <div class="date">
                    <img src="{{ asset('images/calendar.png') }} " alt="" class="calendar">
                    du 12 au 18 Avril
                </div>
            </div>
        </div>
        <div id="partner-contact">
            <h1>Contact</h1>
            <p>
                Pour obtenir un partenariat ou pour plus d'information sur notre service.
            </p>
            <p>
                <a href="mailto:contact@aubaineapp.fr" class="email">contact@aubaineapp.fr</a> <br>
                <span class="phone">07 83 86 60 99</span>
            </p>
        </div>
        <div id="concept-media">
            <!-- <h3>Presse</h3> -->
            <div id='media-list'>
                <a href="http://www.ladepeche.fr/article/2017/02/28/2526086-le-site-toulousain-aubaine-surfe-sur-les-bons-plans-ephemeres.html" target='_blank'>
                    <img src="{{ asset('images/depeche-midi.jpg') }}" alt="la depeche">
                </a>
                <a href="http://le-toulousain-malin.com/aubaine-les-bons-plans-a-toulouse/" target='_blank'>
                    <img src="{{ asset('images/toulousain-malin.png') }}" alt="le toulousain malin">
                </a>
                <a href="http://www.les-soeurs-vitamine.com/la-nouvelle-start-up-toulousaine-aubaine/" target='_blank'>
                    <img style='height:4rem;' src="{{ asset('images/soeurs-vitamines.png') }}" alt="les soeurs vitamines">
                </a>
                <a href="http://lespepitestech.com/startup-de-la-french-tech/aubaine" target='_blank'>
                    <img src="{{ asset('images/pepite-tech.jpeg') }}" alt="pepite tech">
                </a>
                <a href="http://actu.cotetoulouse.fr/toulouse-aubaine-start-up-bons-plans_56286/" target='_blank'>
                    <img src="{{ asset('images/cote-toulouse.png') }}" alt="cote toulouse">
                </a>
                <a href="https://www.maddyness.com/entrepreneurs/2017/02/24/fastpitch-5-startups-de-semaine-d-clics-habx-aubaine-happy-buy-happysitters/" target='_blank'>
                    <img style='height:4rem;' src="{{ asset('images/maddyness.png') }}" alt="maddyness">
                </a>
                <a href="https://www.toulouscope.fr/bons-plans/mode-beaute-bars-restaurants-aubaine-profite-de-bons-plans-ephemeres-ville-rose/" target='_blank'>
                    <img style='height:4rem;' src="{{ asset('images/touloscope.png') }}" alt="touloscope">
                </a>
            </div>
        </div>
    </div>

{% endblock %}
  {% block javascripts %}
        {{ parent() }}
        {% javascripts filter='jsqueeze'
            'bundles/aubainecore/js/concept.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
  {% endblock %}

