{% extends "AubaineCoreBundle::layout.html.twig" %}

{% block title %}
  Concept - {{ parent() }}
{% endblock %}

{% block body %}

    <div id="body-concept">
        <div id='concept-header'>
            <h1>
                Aubaine
            </h1>
            <h2>
                Les bons plans autour de vous aujourd'hui, restez à l'affut !
            </h2>
        </div>
        <div id="concept-user">
            <h3>
                <!-- Nos commerces partenaires proposent des opportunités à tout moment, restez à l'affut ! -->
            </h3>
            <div class="assets">
                <h4>Promotions</h4>
                <p>
                    Prix cassés, destockages, soldes,  bénéficiez des prix réduits qui s'offrent à vous.
                </p>
            </div>
            <div class="assets">
                <h4>Évènements</h4>
                <p>
                    Dîtes bonjour à l'improvisation. Trouvez des évènements à la dernière minute.
                </p>
            </div>
            <div class="assets">
                <h4 class="discover">Nouveautés</h4>
                <p>
                    Nouveau produit, nouveau concept, laissez vous surprendre par leur créativité. 
                </p>
            </div>
        </div>
        <div id="concept-partner">
            <div class="figures"><span><b>102</b><br> Partenaires</span></div>
            <!-- <h3>
                Boutiques, Bars, Restaurants, Coiffeur, et bien d'autres encore.... 
            </h3> -->
              <div id="myCarousel" class="carousel slide" data-ride="carousel">

                <!-- Wrapper for slides -->
                <div class="carousel-inner">

                    <div class="item active">
                        {% image '@AubaineCoreBundle/Resources/public/images/partners/bonheur-dans-le-pot.jpg' %}
                            <img src="{{ asset_url }}" alt="Example" style="width:100%;" />
                        {% endimage %}
                        <div class="carousel-caption">
                            <h4>Le Bonheur est dans le Pot</h4>
                        </div>
                    </div>

                    <div class="item">
                        {% image '@AubaineCoreBundle/Resources/public/images/partners/Cafe-contretemps.jpg' %}
                            <img src="{{ asset_url }}" alt="Example"  style="width:100%;" />
                        {% endimage %}
                        <div class="carousel-caption">
                            <h4>Café Contre-Temps</h4>
                        </div>
                    </div>

                    <div class="item">
                        {% image '@AubaineCoreBundle/Resources/public/images/partners/la-fine-equipe.png' %}
                            <img src="{{ asset_url }}" alt="Example"  style="width:100%;" />
                        {% endimage %}
                        <div class="carousel-caption">
                            <h4>La fine Équipe</h4>
                        </div>
                    </div>

                </div>

                <!-- Left and right controls -->
                <!-- <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  <span class="sr-only">Next</span>
                </a> -->
              </div>
        </div>
        <div id="concept-teaser">
            <h3>Vous êtes un commerce ?</h3>
            <p>
                Aubaine diffuse votre ardoise sur le web !
            </p>
            <p>
                Chaque jour partagez un message en fonction de votre activités.
            </p>
            <a class="btn btn-primary" href="{{ path('aubaine_core_partner') }}">En savoir plus</a>
        </div>
        <div id="concept-contact">
            <h3>Contact</h3>
            <p>
                Vous voulez devenir partenaire ou vous êtes intéressé par notre activité ? contactez-nous !
            </p>
            <p>
                <a href="mailto:contact@aubaineapp.fr" class="email">contact@aubaineapp.fr</a> <br>
                <span class="phone">07 83 86 60 99</span>
            </p>
        </div>
        <div id="concept-media">
            <div id='media-list'>
                    <a href="http://www.ladepeche.fr/article/2017/02/28/2526086-le-site-toulousain-aubaine-surfe-sur-les-bons-plans-ephemeres.html" target='_blank'>
                        <img style='height:5rem;' src="https://aubaineapp.fr/wp-content/uploads/2017/03/la_depeche.png" alt="la depeche">
                    </a>
                    <a href="http://le-toulousain-malin.com/aubaine-les-bons-plans-a-toulouse/" target='_blank'>
                        <img style='height:5rem;' src="https://aubaineapp.fr/wp-content/uploads/2017/05/Logo-le-toulousain-malin.png" alt="le toulousain malin">
                    </a>
                    <a href="http://www.les-soeurs-vitamine.com/la-nouvelle-start-up-toulousaine-aubaine/" target='_blank'>
                        <img style='height:4rem;' src="https://aubaineapp.fr/wp-content/uploads/2017/02/soeurs-vitamines-2.png" alt="les soeurs vitamines">
                    </a>
                <!-- </li> -->
                <!-- <li class='media-single'>
                </li> -->
                <!-- <li class='media-single'> -->
                    <!-- <a href="http://incubateurgesct.blogspot.fr/p/projets-incubes.html" target='_blank'>
                        <img src="https://aubaineapp.fr/wp-content/uploads/2017/01/TBSgroupe.jpg" alt="tbs">
                    </a> -->
                    <a href="http://lespepitestech.com/startup-de-la-french-tech/aubaine" target='_blank'>
                        <img src="https://aubaineapp.fr/wp-content/uploads/2017/03/pepites-tech.jpeg" alt="pepite tech">
                    </a>
                    <a href="http://actu.cotetoulouse.fr/toulouse-aubaine-start-up-bons-plans_56286/" target='_blank'>
                        <img src="https://aubaineapp.fr/wp-content/uploads/2017/01/cote_toulouse.png" alt="cote toulouse">
                    </a>
                    <a href="https://www.maddyness.com/entrepreneurs/2017/02/24/fastpitch-5-startups-de-semaine-d-clics-habx-aubaine-happy-buy-happysitters/" target='_blank'>
                        <img style='height:4rem;' src="https://aubaineapp.fr/wp-content/uploads/2017/03/maddyness-1.png" alt="maddyness">
                    </a>
            </div>
        </div>
    </div>

{% endblock %}

