{% extends "AubaineCoreBundle::layout.html.twig" %}

{% block body_column_center %}

<div id="body-home">
        <div id='home-header'>
            <h1>
                <img alt="Brand" src="{{ asset('images/logo-aubaine-new-large.png') }}" style="height:8rem;">
            </h1>
            <h2 style="color:#fff">
                Les commerçants de votre ville vous transmettent des messages.
            </h2>
            <form action="{{ path('aubaine_core_search') }}" class="form-inline search" method="post">
                <select class="selectpicker  show-menu-arrow field" id="city" name="city">
                    <option value="toulouse" selected>Toulouse</option>
                    <option value="paris" disabled>Paris</option>
                    <option value="lyon" disabled>Lyon</option>
                    <option value="bordeaux" disabled>Bordeaux</option>
                </select>
                <select class="selectpicker  show-menu-arrow field" id="category" name="category">
                    <option value="all" selected>Toutes les catégories</option>
                    <option value="eat" data-content="<img src='{{ asset('images/eat.png') }}' alt='' class='category category-eat' > Boire et Manger" > Boire et Manger</option>
                    <option value="shop" data-content="<img src='{{ asset('images/shop.png') }}' alt='' class='category category-shop' > Boutiques" > Boutique</option>
                    <option value="wellness" data-content="<img src='{{ asset('images/wellness.png') }}' alt='' class='category category-wellness' > Bien-être" > Bien-être</option>
                    <option value="event" data-content="<img src='{{ asset('images/event.png') }}' alt='' class='category category-event' > Évènements" > Évènement</option>
              </select>
              <input type="submit" class="btn btn-primary field" value="rechercher">
            </form>
        </div>
        <div id="home-live">
            <h2>Messages Éphémères</h2>
            {% for aubaine in listAubaines3 %}
                <a class="aubaineExtract" target="_blank" href="{{ path('aubaine_platform_public_view', {'id': aubaine.id}) }}">
                    <div class="image" style="background-image:url('{{ asset('images/place/' ~ aubaine.place.imageHeader) }}')"></div>
                    <div class="content  category-{{ aubaine.category }}">
                        {{ aubaine.message |length > 100 ? aubaine.message |slice(0, 100) ~ '...' : aubaine.message   }}
                    </div>
                    <div class="place">
                        <img src="{{ asset('images/location.png') }} " alt="" class="location">
                        {{ aubaine.place.title }}
                    </div>
                    <div class="date">
                        <img src="{{ asset('images/date.png') }} " alt="" class="calendar">
                        {% if  aubaine.type == 3 %}
                        Le {{ aubaine.start | date("d") }} {{ aubaine.start | date("F") | trans }}
                        {% elseif aubaine.type == 2 %}
                            {% if aubaine.start | date("F") == aubaine.end | date("F") %}
                                Du {{ aubaine.start | date("d") }} au {{ aubaine.end | date("d") }} {{ aubaine.end | date("F") | trans }}
                            {% else %}
                                Du {{ aubaine.start | date("d") }} {{ aubaine.start | date("F") | trans }} au {{ aubaine.end | date("d") }} {{ aubaine.end | date("F") | trans }}
                            {% endif %}
                        {% else %}
                        Toute l'année
                        {% endif %}
                    </div>
                    <img src="{{ asset('images/'~aubaine.category~'.png') }} " alt="" class="category category-{{ aubaine.category }}">
                </a>
            {% endfor %}
        </div>
        <div id="home-places">
            <h2>Toute l'année</h2>
            {% for aubaine in listAubaines1 %}
                <a class="aubaineExtract" target="_blank" href="{{ path('aubaine_platform_public_view', {'id': aubaine.id}) }}">
                    <div class="image" style="background-image:url('{{ asset('images/place/' ~ aubaine.place.imageHeader) }}')"></div>
                    <div class="content">
                        {{ aubaine.message |length > 100 ? aubaine.message |slice(0, 100) ~ '...' : aubaine.message   }}
                    </div>
                    <div class="place">
                        <img src="{{ asset('images/location.png') }} " alt="" class="location">
                        {{ aubaine.place.title }}
                    </div>
                    <div class="date">
                        <img src="{{ asset('images/date.png') }} " alt="" class="calendar">
                        {% if  aubaine.type == 3 %}
                        Le {{ aubaine.start | date("d") }} {{ aubaine.start | date("F") | trans }}
                        {% elseif aubaine.type == 2 %}
                            {% if aubaine.start | date("F") == aubaine.end | date("F") %}
                                Du {{ aubaine.start | date("d") }} au {{ aubaine.end | date("d") }} {{ aubaine.end | date("F") | trans }}
                            {% else %}
                                Du {{ aubaine.start | date("d") }} {{ aubaine.start | date("F") | trans }} au {{ aubaine.end | date("d") }} {{ aubaine.end | date("F") | trans }}
                            {% endif %}
                        {% else %}
                        Toute l'année
                        {% endif %}
                    </div>
                    <img src="{{ asset('images/'~aubaine.category~'.png') }} " alt="" class="category category-{{ aubaine.category }}">
                </a>
            {% endfor %}
        </div>
        <div id="home-map">
            <h2>Retrouvez tous les bons plans sur une carte</h2>
            <a href="{{ path('aubaine_core_map') }}" class="btn btn-lg btn-primary">
                <i class="glyphicon glyphicon-map"></i>
                Voir la Carte
            </a>
        </div>
        <div id="home-concept">
            <h2>Un concept unique</h2>
            <p>Promotions, nouveautés, évènements,... Aubaine vous transmet en instantané des messages partagés par des commerçants.</p>
            <a href="{{ path('aubaine_core_concept') }}" class="btn btn-lg btn-primary" target="_blank">
                <i class="glyphicon glyphicon-map"></i>
                Découvrir le concept
            </a>
        </div>
        
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='jsqueeze'
        'bundles/aubainecore/js/main.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
