{% extends "AubaineCoreBundle::layout.html.twig" %}
{% block metaDescription %}<meta name="description" content="Sur Aubaine, les commerçants vous transmettent des messages : promotions, nouveautés, évènements, bons plans, etc. Vous êtes informés en direct du meilleur de votre ville" />{% endblock %}
{% block body %}

<div class="body-home">
        <div id='home-header'>
            <h1>
                <img alt="Brand" src="{{ asset('images/logo-aubaine-new-large.png') }}" style="height:8rem;">
            </h1>
            <h2 style="color:#fff">
                Les commerçants vous transmettent des bons plans.
            </h2>
            <form action="{{ path('aubaine_core_search') }}" class="form-inline home-search form-search" method="post">
                <h3>Faîtes une recherche pour découvrir les opportunités du moment</h3>
                <div class="dropdown-el-wrapper">
                    <span class="dropdown-el">
                        <input type="radio" name="city" value="toulouse" checked="checked" id="toulouse"><label for="toulouse">Toulouse</label>
                        <input type="radio" name="city" value="bordeaux" id="bordeaux" disabled><label for="bordeaux">Bordeaux (à venir)</label>
                    </span>
                </div><!-- 
             --><div class="dropdown-el-wrapper">
                    <span class="dropdown-el">
                        <input type="radio" name="category" value="all" checked="checked" id="all"><label for="all">Toutes Catégories</label>
                        <input type="radio" name="category" value="eat" id="eat"><label for="eat"><img src='{{ asset('images/eat.png') }}' alt='' class='category category-eat' > Boire & Manger</label>
                        <input type="radio" name="category" value="shop" id="shop"><label for="shop"><img src='{{ asset('images/shop.png') }}' alt='' class='category category-shop' > Boutiques</label>
                        <input type="radio" name="category" value="wellness" id="wellness"><label for="wellness"><img src='{{ asset('images/wellness.png') }}' alt='' class='category category-wellness' > Bien-être</label>
                        <input type="radio" name="category" value="event" id="event"><label for="event"><img src='{{ asset('images/event.png') }}' alt='' class='category category-event' > Évènement</label>
                    </span>
                </div><!-- 
             --><input type="submit" class="btn btn-primary field" value="Voir les bons plans">
            </form>
        </div>
        <div class="home-live">
            <h2 class="computer">Derniers bons plans publiés</h2>
            <h2 class="mobile">Dernier bon plan publié</h2>
            {% for aubaine in listAubaines %}
                    <a id="deal-{{ aubaine.id }}" class="aubaineExtract" target="_blank" href="{{ path('aubaine_platform_public_view', {'id': aubaine.id}) }}">
                        <div class="image" style="background-image:url('{{ asset('images/place/' ~ aubaine.place.imageHeader) }}')"></div>
                        <div class="content  category-{{ aubaine.category }}">
                            {{ aubaine.message }}
                        </div>
                        <div class="date">
                            <img src="{{ asset('images/calendar.png') }} " alt="" class="calendar">
                            {% if  aubaine.type == 3 %}
                            Le {{ aubaine.start | date("d") }} {{ aubaine.start | date("F") | trans }}
                            {% elseif aubaine.type == 2 %}
                                {% if aubaine.start | date("F") == aubaine.end | date("F") %}
                                    Du {{ aubaine.start | date("d") }} au {{ aubaine.end | date("d") }} {{ aubaine.end | date("F") | trans }}
                                {% else %}
                                    Du {{ aubaine.start | date("d") }} {{ aubaine.start | date("F") | trans }} au {{ aubaine.end | date("d") }} {{ aubaine.end | date("F") | trans }}
                                {% endif %}
                            {% else %}
                            Toute l'année
                            {% endif %}
                        </div>
                        <div class="place">
                            <img src="{{ asset('images/location.png') }} " alt="" class="location">
                            {{ aubaine.place.title }}
                        </div>
                        <img src="{{ asset('images/'~aubaine.category~'.png') }} " alt="" class="category category-{{ aubaine.category }}">
                    </a>
            {% endfor %}
        </div>
        <div class="home-concept">
            <div class="container">
                <div class="row">
                    <h2>Les commerçants vous transmettent des ...</h2>
                    <div class="keyword-list">
                        <h3 class="keyword keyword-xl">Promotions</h3>
                        <h3 class="keyword keyword-s">Nouveautés</h3>
                        <h3 class="keyword keyword-m">Fins de journée</h3>
                        <h3 class="keyword keyword-m">Destockages</h3>
                        <h3 class="keyword keyword-xl">Ventes privées</h3>
                        <h3 class="keyword keyword-s">Soirées</h3>
                        <h3 class="keyword keyword-xl">Inaugurations</h3>
                        <h3 class="keyword keyword-s">Fins de série</h3>
                        <h3 class="keyword keyword-m">Happy hours</h3>
                        <h3 class="keyword keyword-l">Réductions étudiantes</h3>
                        <h3 class="keyword keyword-l">Nouveaux concepts</h3>
                        <h3 class="keyword keyword-m">Expériences</h3>
                        <h3 class="keyword keyword-s">Arrivages</h3>
                        <h3 class="keyword keyword-xl">Évènements</h3>     
                        <h3 class="keyword keyword-s">Nouveaux produits</h3>               
                        <h3 class="keyword keyword-l">Offres découvertes</h3> 
                        <h3 class="keyword keyword-xl">Expositions</h3>                   
                    </div>
                    <form method="post" class="email-form form" action ="{{ path('aubaine_core_ajax_newsletter') }}">
                        {% image '@AubaineCoreBundle/Resources/public/images/email.png' %}
                            <img src="{{ asset_url }}" alt="Example" class="emailImage">
                        {% endimage %}
                        <h4>Chaque semaine, recevez les meilleures opportunités par mail.</h4>
                        <input class="emailInput form-control"placeholder="Votre email" class="form-control" maxlength="150" type="text"  name="email" required="required">
                        <input class="btn btn-primary submit"  data-loading-text="Enregistrement..." type="submit" value="Envoyer">
                        <div class="emailInfos alert alert-success">Vous avez bien été enregistré !</div>
                    </form>
                </div>      
            </div>        
        </div>
        <div class="home-membership">
            <div class="container">
                <h2>Comment bénéficier des bons plans ?</h2>
                <div class="case">
                    <h3>Visiteurs</h3>
                    Vous pouvez bénéficier de tous les bons plans non exclusif. Rendez-vous directement sur place et profitez !
                </div>
                <div class="case">
                    <h3>Membres <span class="label label-white">à venir</span></h3>
                    Vous bénéficiez de bons plans exclusifs. Chaque semaine, de nouvelles offres spéciales vous sont proposées !
                </div>
                <div class="padding-top-20">
                    <a href="{{ path('fos_user_registration_register') }}" class="btn btn-primary" target="_blank">Devenir membre</a>
                </div>
            </div>
        </div>
        <div class="home-partner">
            <div class="container">
                <h2>{{number_partner}} Partenaires, dont ...</h2>
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        {% image '@AubaineCoreBundle/Resources/public/images/partners/borriquito loco.png' %}
                            <img src="{{ asset_url }}" alt="Example" class="partner-image"/ width="100%">
                        {% endimage %}
                        <div class="partner-name">Borriquito Loco</div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        {% image '@AubaineCoreBundle/Resources/public/images/partners/boca.png' %}
                            <img src="{{ asset_url }}" alt="Example" class="partner-image"/ width="100%">
                        {% endimage %}
                        <div class="partner-name">Boca</div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        {% image '@AubaineCoreBundle/Resources/public/images/partners/cafecerise.png' %}
                            <img src="{{ asset_url }}" alt="Example" class="partner-image"/ width="100%">
                        {% endimage %}
                        <div class="partner-name">Café Cerise</div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        {% image '@AubaineCoreBundle/Resources/public/images/partners/cereal.jpg' %}
                            <img src="{{ asset_url }}" alt="Example" class="partner-image"/ width="100%">
                        {% endimage %}
                        <div class="partner-name">Céréal Lover Café</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        {% image '@AubaineCoreBundle/Resources/public/images/partners/Coexist.png' %}
                            <img src="{{ asset_url }}" alt="Example" class="partner-image"/ width="100%">
                        {% endimage %}
                        <div class="partner-name">Coexist</div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        {% image '@AubaineCoreBundle/Resources/public/images/partners/contacto.png' %}
                            <img src="{{ asset_url }}" alt="Example" class="partner-image"/ width="100%">
                        {% endimage %}
                        <div class="partner-name">Contact'O</div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        {% image '@AubaineCoreBundle/Resources/public/images/partners/indyra.png' %}
                            <img src="{{ asset_url }}" alt="Example" class="partner-image"/ width="100%">
                        {% endimage %}
                        <div class="partner-name">Indyra</div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        {% image '@AubaineCoreBundle/Resources/public/images/partners/bebop.png' %}
                            <img src="{{ asset_url }}" alt="Example" class="partner-image"/ width="100%">
                        {% endimage %}
                        <div class="partner-name">Le Bebop</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        {% image '@AubaineCoreBundle/Resources/public/images/partners/sukani.png' %}
                            <img src="{{ asset_url }}" alt="Example" class="partner-image"/ width="100%">
                        {% endimage %}
                        <div class="partner-name">Sukani</div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        {% image '@AubaineCoreBundle/Resources/public/images/partners/sandyan.png' %}
                            <img src="{{ asset_url }}" alt="Example" class="partner-image"/ width="100%">
                        {% endimage %}
                        <div class="partner-name">Sandyan Patisserie</div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        {% image '@AubaineCoreBundle/Resources/public/images/partners/moloko.png' %}
                            <img src="{{ asset_url }}" alt="Example" class="partner-image"/ width="100%">
                        {% endimage %}
                        <div class="partner-name">Moloko Bar</div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        {% image '@AubaineCoreBundle/Resources/public/images/partners/ministere.png' %}
                            <img src="{{ asset_url }}" alt="Example" class="partner-image"/ width="100%">
                        {% endimage %}
                        <div class="partner-name">Le Ministère</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="home-teaser">
            <div class="container">
                <div class="row .padding-30">
                    <h2>
                        Vous tenez un commerce ?
                    </h2>
                    <h3>
                        Faîtes-vous connaître en proposant vos bons plans !
                    </h3>
                    <div class="padding-top-30">
                        <a href="{{ path('aubaine_core_partner') }}" class="btn btn-primary" target="_blank">En savoir plus</a>
                    </div>
                </div>        
            </div>        
        </div>
        <div class="home-media">
            <!-- <h3>Presse</h3> -->
            <div id='media-list'>
                <a href="http://www.ladepeche.fr/article/2017/02/28/2526086-le-site-toulousain-aubaine-surfe-sur-les-bons-plans-ephemeres.html" target='_blank'>
                    <img src="{{ asset('images/depeche-midi.jpg') }}" alt="la depeche">
                </a>
                <a href="http://le-toulousain-malin.com/aubaine-les-bons-plans-a-toulouse/" target='_blank'>
                    <img src="{{ asset('images/toulousain-malin.png') }}" alt="le toulousain malin">
                </a>
                <a href="http://www.les-soeurs-vitamine.com/la-nouvelle-start-up-toulousaine-aubaine/" target='_blank'>
                    <img style='height:4rem;' src="{{ asset('images/soeurs-vitamines.png') }}" alt="les soeurs vitamines">
                </a>
                <a href="http://lespepitestech.com/startup-de-la-french-tech/aubaine" target='_blank'>
                    <img src="{{ asset('images/pepite-tech.jpeg') }}" alt="pepite tech">
                </a>
                <a href="http://actu.cotetoulouse.fr/toulouse-aubaine-start-up-bons-plans_56286/" target='_blank'>
                    <img src="{{ asset('images/cote-toulouse.png') }}" alt="cote toulouse">
                </a>
                <a href="https://www.maddyness.com/entrepreneurs/2017/02/24/fastpitch-5-startups-de-semaine-d-clics-habx-aubaine-happy-buy-happysitters/" target='_blank'>
                    <img style='height:4rem;' src="{{ asset('images/maddyness.png') }}" alt="maddyness">
                </a>
                <a href="https://www.toulouscope.fr/bons-plans/mode-beaute-bars-restaurants-aubaine-profite-de-bons-plans-ephemeres-ville-rose/" target='_blank'>
                    <img style='height:4rem;' src="{{ asset('images/touloscope.png') }}" alt="touloscope">
                </a>
            </div>
        </div>        
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='jsqueeze'
        'bundles/aubainecore/js/main.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
