{% extends "AubaineCoreBundle::layout.html.twig" %}

{% block body_column_center %}

<div id="body-home">
        <div id='home-header'>
            <h1>
                <img alt="Brand" src="{{ asset('images/logo-aubaine-new-large.png') }}" style="height:8rem;">
            </h1>
            <h2 style="color:#fff">
                Les commerçants de votre ville vous transmettent des messages.
            </h2>
            <form action="{{ path('aubaine_core_search') }}" class="form-inline search" method="post">
                <select class="selectpicker  show-menu-arrow field" id="city" name="city">
                    <option value="toulouse" selected>Toulouse</option>
                    <option value="paris" disabled>Paris</option>
                    <option value="lyon" disabled>Lyon</option>
                    <option value="bordeaux" disabled>Bordeaux</option>
                </select>
                <select class="selectpicker  show-menu-arrow field" id="category" name="category">
                    <option value="all" selected>Toutes les catégories</option>
                    <option value="eat" data-content="<img src='{{ asset('images/eat.png') }}' alt='' class='category category-eat' > Boire et Manger" > Boire et Manger</option>
                    <option value="eat" data-content="<img src='{{ asset('images/shop.png') }}' alt='' class='category category-shop' > Boutiques" > Boutique</option>
                    <option value="eat" data-content="<img src='{{ asset('images/wellness.png') }}' alt='' class='category category-wellness' > Bien-être" > Boire et Manger</option>
                    <option value="eat" data-content="<img src='{{ asset('images/event.png') }}' alt='' class='category category-event' > Évènements" > Boire et Manger</option>
              </select>
              <input type="submit" class="btn btn-primary field" value="rechercher">
            </form>
        </div>
        <div id="home-live">
            <h2>À la une</h2>
            {% for aubaine in listAubaines3 %}
                <a class="aubaineExtract" target="_blank" href="{{ path('aubaine_platform_public_view', {'id': aubaine.id}) }}">
                    <div class="image">
                        <img src="{{ asset('images/place/' ~ aubaine.place.imageHeader) }}" alt="" class="avatar">
                    </div>
                    <div class="content  category-{{ aubaine.category }}">
                        {{ aubaine.message }}
                    </div>
                    <div class="place">
                        <img src="{{ asset('images/location.png') }} " alt="" class="location">
                        {{ aubaine.place.title }}
                    </div>
                    <div class="date">
                        <img src="{{ asset('images/date.png') }} " alt="" class="calendar">
                        {% if  aubaine.type == 3 %}
                        Le {{ aubaine.start | date("d M") }}
                        {% elseif aubaine.type == 2 %}
                        Du {{ aubaine.start | date("d M") }} au {{ aubaine.end | date("d M") }}
                        {% else %}
                        Toute l'année
                        {% endif %}
                    </div>
                    <img src="{{ asset('images/'~aubaine.category~'.png') }} " alt="" class="category category-{{ aubaine.category }}">
                </a>
            {% endfor %}
        </div>
        <div id="home-events">
            <h2>À venir</h2>
            {% for aubaine in listAubaines2 %}
                <a class="aubaineExtract" target="_blank" href="{{ path('aubaine_platform_public_view', {'id': aubaine.id}) }}">
                    <div class="image">
                        <img src="{{ asset('images/place/' ~ aubaine.place.imageHeader) }}" alt="" class="avatar">
                    </div>
                    <div class="content">
                        {{ aubaine.message }}
                    </div>
                    <div class="place">
                        <img src="{{ asset('images/location.png') }} " alt="" class="location">
                        {{ aubaine.place.title }}
                    </div>
                    <div class="date">
                        <img src="{{ asset('images/date.png') }} " alt="" class="calendar">
                        {% if  aubaine.type == 3 %}
                        Le {{ aubaine.start | date("d M") }}
                        {% elseif aubaine.type == 2 %}
                        Du {{ aubaine.start | date("d M") }} au {{ aubaine.end | date("d M") }}
                        {% else %}
                        Toute l'année
                        {% endif %}
                    </div>
                    <img src="{{ asset('images/'~aubaine.category~'.png') }} " alt="" class="category category-{{ aubaine.category }}">
                </a>
            {% endfor %}
        </div>
        <div id="home-places">
            <h2>Toute l'année</h2>
            {% for aubaine in listAubaines1 %}
                <a class="aubaineExtract" target="_blank" href="{{ path('aubaine_platform_public_view', {'id': aubaine.id}) }}">
                    <div class="image">
                        <img src="{{ asset('images/place/' ~ aubaine.place.imageHeader) }}" alt="" class="avatar">
                    </div>
                    <div class="content">
                        {{ aubaine.message }}
                    </div>
                    <div class="place">
                        <img src="{{ asset('images/location.png') }} " alt="" class="location">
                        {{ aubaine.place.title }}
                    </div>
                    <div class="date">
                        <img src="{{ asset('images/date.png') }} " alt="" class="calendar">
                        {% if  aubaine.type == 3 %}
                        Le {{ aubaine.start | date("d M") }}
                        {% elseif aubaine.type == 2 %}
                        Du {{ aubaine.start | date("d M") }} au {{ aubaine.end | date("d M") }}
                        {% else %}
                        Toute l'année
                        {% endif %}
                    </div>
                    <img src="{{ asset('images/'~aubaine.category~'.png') }} " alt="" class="category category-{{ aubaine.category }}">
                </a>
            {% endfor %}
        </div>
        <div id="home-map">
            <h2>Tous les bons plans sur une carte</h2>
            <a href="{{ path('aubaine_core_map') }}" class="btn btn-lg btn-primary">
                <i class="glyphicon glyphicon-map"></i>
                Voir la Carte
            </a>
        </div>
        <div id="home-contact">
            <h2>Partager un bon-plan</h2>
            <p>
                N'hésitez pas à nous signaler des endroits, concept ou évènements à connaîtres !
            </p>
            <p>
                <a href="mailto:contact@aubaineapp.fr" class="email">contact@aubaineapp.fr</a> <br>
            </p>
        </div>
        <div id="home-media">
            <div id='media-list'>
                <a href="http://www.ladepeche.fr/article/2017/02/28/2526086-le-site-toulousain-aubaine-surfe-sur-les-bons-plans-ephemeres.html" target='_blank'>
                    <img src="{{ asset('images/depeche-midi.jpg') }}" alt="la depeche">
                </a>
                <a href="http://le-toulousain-malin.com/aubaine-les-bons-plans-a-toulouse/" target='_blank'>
                    <img src="{{ asset('images/toulousain-malin.png') }}" alt="le toulousain malin">
                </a>
                <a href="http://www.les-soeurs-vitamine.com/la-nouvelle-start-up-toulousaine-aubaine/" target='_blank'>
                    <img style='height:4rem;' src="{{ asset('images/soeurs-vitamines.png') }}" alt="les soeurs vitamines">
                </a>
                <a href="http://lespepitestech.com/startup-de-la-french-tech/aubaine" target='_blank'>
                    <img src="{{ asset('images/pepite-tech.jpeg') }}" alt="pepite tech">
                </a>
                <a href="http://actu.cotetoulouse.fr/toulouse-aubaine-start-up-bons-plans_56286/" target='_blank'>
                    <img src="{{ asset('images/cote-toulouse.png') }}" alt="cote toulouse">
                </a>
                <a href="https://www.maddyness.com/entrepreneurs/2017/02/24/fastpitch-5-startups-de-semaine-d-clics-habx-aubaine-happy-buy-happysitters/" target='_blank'>
                    <img style='height:4rem;' src="{{ asset('images/maddyness.png') }}" alt="maddyness">
                </a>
                <a href="https://www.toulouscope.fr/bons-plans/mode-beaute-bars-restaurants-aubaine-profite-de-bons-plans-ephemeres-ville-rose/" target='_blank'>
                    <img style='height:4rem;' src="{{ asset('images/touloscope.png') }}" alt="touloscope">
                </a>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='jsqueeze'
        'bundles/aubainecore/js/main.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
