{% extends "AubaineCoreBundle::layout.html.twig" %}

{% block body %}

<div class="body-home">
        <div id='home-header'>
            <h1>
                <img alt="Brand" src="{{ asset('images/logo-aubaine-new-large.png') }}" style="height:8rem;">
            </h1>
            <h2 style="color:#fff">
                Les commerçants de votre ville vous transmettent des messages.
            </h2>
            <form action="{{ path('aubaine_core_search') }}" class="form-inline home-search" method="post">
                <select class="selectpicker  show-menu-arrow field" id="city" name="city">
                    <option value="toulouse" selected>Toulouse</option>
                    <option value="paris" disabled>Paris</option>
                    <option value="lyon" disabled>Lyon</option>
                    <option value="bordeaux" disabled>Bordeaux</option>
                </select>
                <select class="selectpicker  show-menu-arrow field" id="category" name="category">
                    <option value="all" selected>Toutes les catégories</option>
                    <option value="eat" data-content="<img src='{{ asset('images/eat.png') }}' alt='' class='category category-eat' > Boire et Manger" > Boire et Manger</option>
                    <option value="shop" data-content="<img src='{{ asset('images/shop.png') }}' alt='' class='category category-shop' > Boutiques" > Boutique</option>
                    <option value="wellness" data-content="<img src='{{ asset('images/wellness.png') }}' alt='' class='category category-wellness' > Bien-être" > Bien-être</option>
                    <option value="event" data-content="<img src='{{ asset('images/event.png') }}' alt='' class='category category-event' > Évènements" > Évènement</option>
              </select>
              <input type="submit" class="btn btn-primary field" value="rechercher">
            </form>
        </div>
        <div class="home-live">
            <h2>Derniers messages publiés</h2>
            {% for aubaine in listAubaines %}
                <a class="aubaineExtract" target="_blank" href="{{ path('aubaine_platform_public_view', {'id': aubaine.id}) }}">
                    <div class="image" style="background-image:url('{{ asset('images/place/' ~ aubaine.place.imageHeader) }}')"></div>
                    <div class="content  category-{{ aubaine.category }}">
                        {{ aubaine.message |length > 100 ? aubaine.message |slice(0, 100) ~ '...' : aubaine.message   }}
                    </div>
                    <div class="place">
                        <img src="{{ asset('images/location.png') }} " alt="" class="location">
                        {{ aubaine.place.title }}
                    </div>
                    <div class="date">
                        <img src="{{ asset('images/calendar.png') }} " alt="" class="calendar">
                        {% if  aubaine.type == 3 %}
                        Le {{ aubaine.start | date("d") }} {{ aubaine.start | date("F") | trans }}
                        {% elseif aubaine.type == 2 %}
                            {% if aubaine.start | date("F") == aubaine.end | date("F") %}
                                Du {{ aubaine.start | date("d") }} au {{ aubaine.end | date("d") }} {{ aubaine.end | date("F") | trans }}
                            {% else %}
                                Du {{ aubaine.start | date("d") }} {{ aubaine.start | date("F") | trans }} au {{ aubaine.end | date("d") }} {{ aubaine.end | date("F") | trans }}
                            {% endif %}
                        {% else %}
                        Toute l'année
                        {% endif %}
                    </div>
                    <img src="{{ asset('images/'~aubaine.category~'.png') }} " alt="" class="category category-{{ aubaine.category }}">
                </a>
            {% endfor %}
        </div>
        <div id="home-map">
            <h2>Retrouvez tous les bons plans sur une carte</h2>
            <a href="{{ path('aubaine_core_map') }}" class="btn btn-lg btn-primary">
                <i class="glyphicon glyphicon-map"></i>
                Voir la Carte
            </a>
        </div>
        <div class="home-concept">
            <div class="container">
                <div class="row .padding-30">
                    <h2>Les commerçants vous transmettent des messages en instantané.</h2>
                    <div class="asset">
                        <h4>Promotions</h4>
                        <p>
                            Prix cassés, destockages, soldes,  bénéficiez des prix réduits qui s'offrent à vous.
                        </p>
                    </div>
                    <div class="asset">
                        <h4>Évènements</h4>
                        <p>
                            Dîtes bonjour à l'improvisation. Trouvez des évènements à la dernière minute.
                        </p>
                    </div>
                    <div class="asset">
                        <h4 class="discover">Nouveautés</h4>
                        <p>
                            Nouveau produit, nouveau concept, laissez vous surprendre par leur créativité. 
                        </p>
                    </div>
                </div>        
            </div>        
            <div class="figures"><span><b>{{number_partner}}</b><br> Partenaires</span></div>
        </div>
        <div class="home-partner">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        {% image '@AubaineCoreBundle/Resources/public/images/partners/bonheur-dans-le-pot.jpg' %}
                            <img src="{{ asset_url }}" alt="Example" style="width:100%;" />
                        {% endimage %}
                        <div class="carousel-caption">
                            <h3>Le Bonheur est dans le Pot</h3>
                        </div>
                    </div>
                    <div class="item">
                        {% image '@AubaineCoreBundle/Resources/public/images/partners/Cafe-contretemps.jpg' %}
                            <img src="{{ asset_url }}" alt="Example"  style="width:100%;" />
                        {% endimage %}
                        <div class="carousel-caption">
                            <h3>Café Contre-Temps</h3>
                        </div>
                    </div>
                    <div class="item">
                        {% image '@AubaineCoreBundle/Resources/public/images/partners/la-fine-equipe.png' %}
                            <img src="{{ asset_url }}" alt="Example"  style="width:100%;" />
                        {% endimage %}
                        <div class="carousel-caption">
                            <h3>La Fine Équipe</h3>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="home-teaser">
            <div class="container">
                <div class="row .padding-30">
                    <h2>
                        Vous êtes un commerce ? Communiquez de manière simple et efficace
                    </h2>
                    <div class="asset">
                        <h4>Simple</h4>
                        <p>
                            Utiliser notre interface est aussi simple et rapide que d'écrire sur une ardoise.
                        </p>
                    </div>
                    <div class="asset">
                        <h4>Instantané</h4>
                        <p>
                            Nous transmettons vos messages instantanément, vous profitez d'une communication temps réel.
                        </p>
                    </div>
                    <div class="asset">
                        <h4>Pratique</h4>
                        <p>
                            Nouveautés, concepts, promotions,... Adaptez vos messages à votre activités.
                        </p>
                    </div>
                    <div class="asset">
                        <h4>Gratuit</h4>
                        <p>
                            La diffusion de messages est totalement gratuite, vous êtes entièrement gagnant.
                        </p>
                    </div>
                </div>        
            </div>        
        </div>
        <div class="home-contact">
            <h2>Contact</h2>
            <p>
                <a href="mailto:contact@aubaineapp.fr" class="email">contact@aubaineapp.fr</a> <br>
                <span class="phone">07 83 86 60 99</span>
            </p>
        </div>
        <div class="home-media">
            <!-- <h3>Presse</h3> -->
            <div id='media-list'>
                <a href="http://www.ladepeche.fr/article/2017/02/28/2526086-le-site-toulousain-aubaine-surfe-sur-les-bons-plans-ephemeres.html" target='_blank'>
                    <img src="{{ asset('images/depeche-midi.jpg') }}" alt="la depeche">
                </a>
                <a href="http://le-toulousain-malin.com/aubaine-les-bons-plans-a-toulouse/" target='_blank'>
                    <img src="{{ asset('images/toulousain-malin.png') }}" alt="le toulousain malin">
                </a>
                <a href="http://www.les-soeurs-vitamine.com/la-nouvelle-start-up-toulousaine-aubaine/" target='_blank'>
                    <img style='height:4rem;' src="{{ asset('images/soeurs-vitamines.png') }}" alt="les soeurs vitamines">
                </a>
                <a href="http://lespepitestech.com/startup-de-la-french-tech/aubaine" target='_blank'>
                    <img src="{{ asset('images/pepite-tech.jpeg') }}" alt="pepite tech">
                </a>
                <a href="http://actu.cotetoulouse.fr/toulouse-aubaine-start-up-bons-plans_56286/" target='_blank'>
                    <img src="{{ asset('images/cote-toulouse.png') }}" alt="cote toulouse">
                </a>
                <a href="https://www.maddyness.com/entrepreneurs/2017/02/24/fastpitch-5-startups-de-semaine-d-clics-habx-aubaine-happy-buy-happysitters/" target='_blank'>
                    <img style='height:4rem;' src="{{ asset('images/maddyness.png') }}" alt="maddyness">
                </a>
                <a href="https://www.toulouscope.fr/bons-plans/mode-beaute-bars-restaurants-aubaine-profite-de-bons-plans-ephemeres-ville-rose/" target='_blank'>
                    <img style='height:4rem;' src="{{ asset('images/touloscope.png') }}" alt="touloscope">
                </a>
            </div>
        </div>        
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='jsqueeze'
        'bundles/aubainecore/js/main.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
