{% extends "AubaineCoreBundle::layout.html.twig" %}

{% block title %}
  Page d'accueil- {{ parent() }}
{% endblock %}

{% block body %}

<!-- <div id="home_wrapper"> -->
    <div id='map_wrapper'>
        <div id='map'></div>
    </div>
    <div id="listAubaines-home">
        <img src="{{ asset('images/logo-aubaine-new.png') }} " alt="" class="logo">
        <div>
            Nous relayons en instantannées des bons plans de la part des commerçants de votre ville. Il peut s'agir de promotions, de nouveautés, d'évènements, etc. Restez à l'affut, tout peut arriver...
        </div>
        <button type="button" class="show-map-button btn btn-primary btn-lg">
            Voir la carte
            <i class="glyphicon glyphicon-chevron-right"></i>
        </button>
        <h2>Vendredi 2 Juin</h2>
        <div class="separator">-----o------</div>
        <ul id="aubaine-list">
            {% for aubaine in listAubaines %}
                <li id="deal-{{ aubaine.id }}">
                    <img src="{{ asset('images/' ~ aubaine.category ~ '.png') }} " alt="" class="category"> 
                    <div class="author">{{ aubaine.author.username }}</div> 
                    <div class="message"><b>{{ aubaine.title }} </b><br> {{ aubaine.message }}</div>
                </li>
            {% endfor %}
        </ul>
        <div class="separator">-----o------</div>
        <div id="footer-home">
            <div id="footer-followus">
                    <a href="https://www.facebook.com/aubainetoulousaine/" id="facebook_link_footer" target="_blank"  class="social-logo"><img alt='Facebook2' src="{{ asset('images/face.png') }} "></a><!-- 
                 --><a href="https://twitter.com/AubaineToulouse" id="tweeter_link_footer" target="_blank"  class="social-logo"><img alt='Twitter2' src="{{ asset('images/twit.png') }} "></a><!-- 
                 --><a href="http://instagram.com/aubaine_toulouse" id="insta_link_footer" target="_blank"  class="social-logo"><img alt='Instagram2' src="{{ asset('images/insta.png') }} "></a>
            </div>
            <div id='footer-newsletters'>
                <form method="post" class="form-inline home-form-newsletter" action ="{{ path('aubaine_core_ajax_newsletter') }}">
                    <input type="email" value="" class="email form-control" placeholder='Je veux des news !' name="email"  data-fv-emailaddress-message="L'adresse mail n'est pas valide" autocomplete="off" /><!-- 
                 --><input type='submit' value="Envoyer" id='add-email-submit' name='submit' class='btn btn-primary' data-loading-text="Enregistrement..." />
                    <input type='hidden' name='action' value='myajax-add-email-intro' />
                </form>
                <div id="result-add-mail-error"></div>
                <div id="result-add-mail-success"></div>
            </div>
            <div id="footer-infos">
                <a href="{{ path('aubaine_core_concept') }}">Concept</a>
                <a href="{{ path('aubaine_core_cgu') }}" target="_blank">CGU</a>
                <a href="https://blog.aubaineapp.fr/wp" target="_blank">Blog</a>
            </div>
        </div>
    </div>
<!-- </div> -->
<script>

    var imageDir = "{{ asset('images/') }}";
    var avatarDir = imageDir+'avatars/';
    var loadMarkerUrl = "{{ path('aubaine_platform_load_marker')}}";
    var listPartners = {{listPartnersJson | raw }}
    var listAubaines = {{listAubainesJson | raw }}

</script> 
<style>
    
    .navbar{
        position: fixed;
        top:0;
        width: 100%;
    }
</style>
{% endblock %}
{% block footer %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='jsqueeze'
        'bundles/aubainecore/js/main.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
