{% extends "AubaineCoreBundle::layout.html.twig" %}

{% block body %}

<div class="body-live">
    <div class='map_wrapper'>
        <div class='map' id='map'></div>
    </div>
    <div class="list_wrapper">
        <div class="today">{{ 'now' | date('l') | trans }} {{ 'now' | date('j') }} {{ 'now' | date('F') | trans }}</div>
        <div class="city">Toulouse</div>
        <h1>
            En direct des commerçants
        </h1>
        <form action="{{ path('aubaine_core_search') }}" class="form-inline search" method="post">
            <select class="selectpicker  show-menu-arrow field" id="city" name="city">
                <option value="toulouse" selected>Toulouse</option>
                <option value="paris" disabled>Paris</option>
                <option value="lyon" disabled>Lyon</option>
                <option value="bordeaux" disabled>Bordeaux</option>
            </select>
            <select class="selectpicker  show-menu-arrow field" id="category" name="category">
                <option value="all" selected>Toutes les catégories</option>
                <option value="eat" data-content="<img src='{{ asset('images/eat.png') }}' alt='' class='category category-eat' > Boire et Manger" > Boire et Manger</option>
                <option value="eat" data-content="<img src='{{ asset('images/shop.png') }}' alt='' class='category category-shop' > Boutiques" > Boutique</option>
                <option value="eat" data-content="<img src='{{ asset('images/wellness.png') }}' alt='' class='category category-wellness' > Bien-être" > Boire et Manger</option>
                <option value="eat" data-content="<img src='{{ asset('images/event.png') }}' alt='' class='category category-event' > Évènements" > Boire et Manger</option>
          </select>
          <input type="submit" class="btn btn-primary field" value="rechercher">
        </form>
        <div class="list">
            {% for aubaine in listAubaines %}
                <a id="deal-{{ aubaine.id }}" class="aubaineExtract" target="_blank" href="{{ path('aubaine_platform_public_view', {'id': aubaine.id}) }}">
                    <div class="image" style="background-image:url('{{ asset('images/place/' ~ aubaine.place.imageHeader) }}')"></div>
                    <div class="content  category-{{ aubaine.category }}">
                        {{ aubaine.message |length > 100 ? aubaine.message |slice(0, 100) ~ '...' : aubaine.message   }}
                    </div>
                    <div class="place">
                        <img src="{{ asset('images/location.png') }} " alt="" class="location">
                        {{ aubaine.place.title }}
                    </div>
                    <div class="date">
                        <img src="{{ asset('images/date.png') }} " alt="" class="calendar">
                        {% if  aubaine.type == 3 %}
                        Le {{ aubaine.start | date("d") }} {{ aubaine.start | date("F") | trans }}
                        {% elseif aubaine.type == 2 %}
                            {% if aubaine.start | date("F") == aubaine.end | date("F") %}
                                Du {{ aubaine.start | date("d") }} au {{ aubaine.end | date("d") }} {{ aubaine.end | date("F") | trans }}
                            {% else %}
                                Du {{ aubaine.start | date("d") }} {{ aubaine.start | date("F") | trans }} au {{ aubaine.end | date("d") }} {{ aubaine.end | date("F") | trans }}
                            {% endif %}
                        {% else %}
                        Toute l'année
                        {% endif %}
                    </div>
                    <img src="{{ asset('images/'~aubaine.category~'.png') }} " alt="" class="category category-{{ aubaine.category }}">
                </a>
            {% endfor %}
        </div>
    </div>
</div>
<script>

    var imageDir = "{{ asset('images/') }}";
    var avatarDir = imageDir+'place/';
    var viewUrl = "{{ path('aubaine_platform_public_view', {'id': 'toreplace'}) }}";
    // var viewUrl = {{ path('aubaine_place_public_view', {'id': 'toreplace'}) }};
    var listAubaines = {{listAubainesJson | raw }}

</script>
{% endblock %}
{% block footer %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='jsqueeze'
        'bundles/aubainecore/js/live.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
