{% extends "AubaineCoreBundle::layout.html.twig" %}
{% block title %}
  Recherche - {{ parent() }}
{% endblock %}
{% block body %}

<div class="body-live">
    <div class='map_wrapper'>
        <div class='map' id='map'></div>
    </div>
    <div class="list_wrapper">
        <div class="list-header">
            <div class="today">{{ 'now' | date('l') | trans }} {{ 'now' | date('j') }} {{ 'now' | date('F') | trans }}</div>
            <div class="city">Toulouse</div>
            <h1>
                En direct des commerçants
            </h1>
            <form action="{{ path('aubaine_core_search') }}" class="form-inline live-search form-search" method="post">
                <div class="dropdown-el-wrapper">
                    <span class="dropdown-el">
                        <input type="radio" name="city" value="toulouse" id="toulouse" {% if city=="toulouse" %}checked="checked"{% endif %}><label for="toulouse">Toulouse</label>
                        <input type="radio" name="city" value="bordeaux" id="bordeaux" disabled  {% if city=="bordeaux" %}checked="checked"{% endif %}><label for="bordeaux">Bordeaux (à venir)</label>
                    </span>
                </div><!-- 
             --><div class="dropdown-el-wrapper">
                    <span class="dropdown-el">
                        <input type="radio" name="category" value="all" {% if category=="all" %}checked="checked"{% endif %} id="all"><label for="all">Toutes Catégories</label>
                        <input type="radio" name="category" value="eat" id="eat"{% if category=="eat" %}checked="checked"{% endif %}><label for="eat"><img src='{{ asset('images/eat.png') }}' alt='' class='category category-eat' > Boire et Manger</label>
                        <input type="radio" name="category" value="shop" id="shop"{% if category=="shop" %}checked="checked"{% endif %}><label for="shop"><img src='{{ asset('images/shop.png') }}' alt='' class='category category-shop' > Boutiques</label>
                        <input type="radio" name="category" value="wellness" id="wellness"{% if category=="wellness" %}checked="checked"{% endif %}><label for="wellness"><img src='{{ asset('images/wellness.png') }}' alt='' class='category category-wellness' > Bien-être</label>
                        <input type="radio" name="category" value="event" id="event"{% if category=="event" %}checked="checked"{% endif %}><label for="event"><img src='{{ asset('images/event.png') }}' alt='' class='category category-event' > Évènement</label>
                    </span>
                </div><!-- 
             --><input type="submit" class="btn btn-primary field" value="Voir les bons plans">
            </form>
        </div>
        <div class="list">
            {% for aubaine in listAubaines %}
                <a id="deal-{{ aubaine.id }}" class="aubaineExtract" target="_blank" href="{{ path('aubaine_platform_public_view', {'id': aubaine.id}) }}">
                    <div class="image" style="background-image:url('{{ asset('images/place/' ~ aubaine.place.imageHeader) }}')"></div>
                    <div class="content  category-{{ aubaine.category }}">
                        {{ aubaine.message }}
                    </div>
                    <div class="date">
                        <img src="{{ asset('images/calendar.png') }} " alt="" class="calendar">
                        {% if  aubaine.type == 3 %}
                        Le {{ aubaine.start | date("d") }} {{ aubaine.start | date("F") | trans }}
                        {% elseif aubaine.type == 2 %}
                            {% if aubaine.start | date("F") == aubaine.end | date("F") %}
                                Du {{ aubaine.start | date("d") }} au {{ aubaine.end | date("d") }} {{ aubaine.end | date("F") | trans }}
                            {% else %}
                                Du {{ aubaine.start | date("d") }} {{ aubaine.start | date("F") | trans }} au {{ aubaine.end | date("d") }} {{ aubaine.end | date("F") | trans }}
                            {% endif %}
                        {% else %}
                        Toute l'année
                        {% endif %}
                    </div>
                    <div class="place">
                        <img src="{{ asset('images/location.png') }} " alt="" class="location">
                        {{ aubaine.place.title }}
                    </div>
                    <img src="{{ asset('images/'~aubaine.category~'.png') }} " alt="" class="category category-{{ aubaine.category }}">
                </a>
            {% endfor %}
        </div>
    </div>
</div>
<script>

    var imageDir = "{{ asset('images/') }}";
    var avatarDir = imageDir+'place/';
    var viewUrl = "{{ path('aubaine_platform_public_view', {'id': 'toreplace'}) }}";
    var listAubaines = {{listAubainesJson | raw }}
    var current_timestamp = {{ current_day | date('U') }}
</script>
{% endblock %}
{% block footer %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='jsqueeze'
        'bundles/aubainecore/js/live.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
