{% extends "AubaineCoreBundle::layout.html.twig" %}

{% block title %}
  Devenir Partenaire - {{ parent() }}
{% endblock %}

{% block body %}
    <div id="body-partner" class="body-large">
        <div class='partner-header'>
            <div class="container">
                <div class="row">
                    <img alt="Brand" src="{{ asset('images/logo-large-rose.png') }}" class="logo" style="height:8rem;">
                    <p class="website">--- www.aubaineapp.fr ---</p>
                     <h1>
                        Aubaine est un site internet oú les commerçants publient des messages: promotions, nouveautés, évènements, etc. Ces messages sont visibles par l’ensemble des visiteurs du site.
                     </h1>
                </div>
            </div>
        </div>
        <div class="partner-advantages">
            <div class="container">
                <div class="row">
                    <h2>
                        Partagez des messages et attirez de nouveaux clients
                     </h2>
                    <div class="asset">
                        <h3>Simple</h3>
                        <p>
                            Publier un message est aussi simple et rapide que d'écrire sur une ardoise.
                        </p>
                    </div>
                    <!-- <div class="asset">
                        <h3>Instantané</h3>
                        <p>
                            Les messages sont publiés instantanément, vous profitez d'une communication immédiate.
                        </p>
                    </div> -->
                    <div class="asset">
                        <h3>Gratuit</h3>
                        <p>
                            La diffusion de messages est totalement gratuite. Vous êtes entièrement gagnant.
                        </p>
                    </div>
                    <div class="asset">
                        <h3>Géolocalisé</h3>
                        <p>
                            Vos messages sont géolocalisés sur une carte et mettent en valeur votre commerce.
                        </p>
                    </div>
                    <div class="asset">
                        <h3>Sans limite</h3>
                        <p>
                            En publiant sur Aubaine vous augmentez considérablement votre visibilité sur internet.
                        </p>
                    </div>
                </div>        
            </div>        
        </div>
        <div class="partner-howpublish">
            <div class="container">
                <div class="row">
                    <h2>Comment publier des messages ?</h2>
                    <div class="publish">
                        <h3>Par notre plateforme</h3>
                        Connectez vous sur notre site et publiez des messages instantanément.
                    </div>
                    <div class="publish">
                        <h3>Par email</h3>
                        Envoyez-nous votre message par email et nous nous chargerons de le diffuser.
                    </div>
                </div>        
            </div>        
        </div>
        <div class="partner-functionment">
            <div class="container">
                <div class="row">
                    <h2>Publiez des messages valables un jour, une semaine ou une année</h2>
                    <div class="aubaineExtract" target="_blank">
                        <div class="image" style="background-image:url('{{ asset('images/place/toulouse.jpg') }}')"></div>
                        <div class="content">
                            Soirée exceptionnelle pour la fête nationnale ! Ambiance espagnole toute la nuit.
                        </div>
                        <div class="place">
                            <img src="{{ asset('images/location.png') }} " alt="" class="location">
                            Le bougeoir
                        </div>
                        <div class="date">
                            <img src="{{ asset('images/calendar.png') }} " alt="" class="calendar">
                            le 14 Juillet
                        </div>
                    </div>
                    <div class="aubaineExtract" target="_blank">
                        <div class="image" style="background-image:url('{{ asset('images/place/596337909956f.jpg') }}')"></div>
                        <div class="content">
                            Nous vous invitons à découvrir l'exposition de l'artiste "Toulouse Grapher" dans notre café.
                        </div>
                        <div class="place">
                            <img src="{{ asset('images/location.png') }} " alt="" class="location">
                            Le café du printemps
                        </div>
                        <div class="date">
                            <img src="{{ asset('images/calendar.png') }} " alt="" class="calendar">
                            du 12 au 15 Avril
                        </div>
                    </div>
                    <div class="aubaineExtract" target="_blank">
                        <div class="image" style="background-image:url('{{ asset('images/place/happy.png') }}')"></div>
                        <div class="content">
                            Tous les lundi, c'est happy hours de 17h à 19h ! Les bières pressions sont à moitié prix.
                        </div>
                        <div class="place">
                            <img src="{{ asset('images/location.png') }} " alt="" class="location">
                            Le bar des découvertes
                        </div>
                        <div class="date">
                            <img src="{{ asset('images/calendar.png') }} " alt="" class="calendar">
                            Toute l'année
                        </div>
                    </div>
                </div>        
            </div>        
        </div>
        <div class="partner-figures">
            <div class="container">
                <div class="row">
                    <h2>Chiffres Clés</h2>
                    <div class="figure">
                        <span>+10 000</span>
                         fans sur les réseaux sociaux
                    </div>
                    <div class="figure">
                        <span>+120</span>
                        commerces nous font déjà confiance
                    </div>
                    <div class="figure">
                        <span>+18</span>
                        mois de perfectionnement de notre site
                    </div>
                </div>
            </div>
        </div>
        <div class="partner-contact">
            <div class="container">
                <div class="row">
                    <h2>Contact</h2>
                    <p>
                        Pour obtenir un partenariat ou pour plus d'information sur notre service.
                    </p>
                    <p>
                        <a href="mailto:contact@aubaineapp.fr" class="email">contact@aubaineapp.fr</a> <br>
                        <span class="phone">07 83 86 60 99</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

  {% block javascripts %}
        {{ parent() }}
        {% javascripts filter='jsqueeze'
            'bundles/aubainecore/js/partner.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
  {% endblock %}