{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "AubainePlaceBundle::layout.html.twig" %}

{% block title %}
  Lieux Stylés - {{ parent() }}
{% endblock %}

{% block aubaineplace_body %}
<h1>Découvrez les endroits magiques de Toulouse</h1>
  <div class="placeList">
    {% for place in listPlaces %}
      <div class="messageExtract">
          <div class="image">
              <img src="{{ asset('images/place/' ~ place.imageHeader) }}" alt="" class="avatar">
          </div>
          <div class="content">
              Le meilleur endroit de Toulouse pour profiter de tout ce qui est cool!
          </div>
          <div class="place">
              <a href="{{ path('aubaine_place_public_view', {'id': place.id}) }}" class="btn btn-primary category-{{ place.category }}">
                  <img src="{{ asset('images/' ~ place.category ~ '.png') }} " alt="" class="category category-{{ place.category }}">
                  {{ place.title }}
              </a>
          </div>
      </div>
    {% endfor %}
  </div>
  <ul class="pagination">
      {% for p in range(1, nbPages) %}
        <li{% if p == page %} class="active"{% endif %}>
          <a href="{{ path('aubaine_place_home', {'page': p}) }}">{{ p }}</a>
        </li>
      {% endfor %}
  </ul>


{% endblock %}
