{% trans_default_domain 'FOSUserBundle' %}
<h1>Inscription</h1>
<p class="intro">Pour profiter de bons plans ou pour faire connaître les vôtres, vous êtes au bon endroit !</p>
<div class="row content padding-top-20">
    <div class="col-sm-6">
        <div class="register-message">
            <h2>Membre</h2>
            <p>
                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                    {{ form_widget(form) }}
                    <div>
                        <input type="submit" class="btn btn-primary submit-form" value="{{ 'registration.submit'|trans }}" />
                    </div>
                {{ form_end(form) }} 
            </p>
            <div class="text-strikethru">
                <div class="line"></div>
                <div class="text">ou</div>
            </div>
            <div>
                <a class="btn btn-primary submit-form facebook" href="{{ hwi_oauth_login_url('facebook') }}"><i class="icon icon-facebook left"></i>Se connecter avec Facebook</a> 
            </div>  
            <div class="text-strikethru">
                <div class="line"></div>
                <div class="text">ou</div>
            </div>
            <div>
                <a class="btn btn-primary submit-form gplus" href="{{ hwi_oauth_login_url('gplus') }}"><i class="icon icon-gplus left"></i>Se connecter avec Google</a>
            </div>            
        </div>
    </div>
    <div class="col-sm-6">
        <div class="register-message register-message-partner">
            <h2>Partenaire</h2>
            <p>
                Vous êtes un professionnel et désirez faire connaître vos promotions, nouveautés, évènements et autres bons plans ? <br>
                Contactez-nous pour devenir partenaire !<br>
            </p>
            <p class="email">
                <a href="mailto:contact@aubaineapp.fr">contact@aubaineapp.fr</a>
            </p>
            <p class="phone">
                <span>07 83 86 60 99</span>
            </p>
        </div>
    </div>    
</div>
<div id="fb-root"></div>
    <script>

        function fb_login() {
            alert("hey");
            FB.getLoginStatus(function(response) {
                if (response.status === 'connected') {
                    // connected
                    alert('Already connected, redirect to login page to create token.');
                    document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                } else {
                    // not_authorized
                    FB.login(function(response) {
                        if (response.authResponse) {
                            document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                        } else {
                            alert('Cancelled.');
                        }
                    }, {scope: 'email'});
                }
            });
        }
    </script>
    <p>
        <a href="#" onclick="fb_login();">Facebook Connect Button (Dialog)</a>
    </p>