{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "AubaineUserBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block body_column_center %}

  <a href="{{ path('aubaine_user_add') }}" class="btn btn-default">
    <i class="glyphicon glyphicon-plus"></i>
    Ajouter un utilisateur
  </a>

  <h2>Liste des utilisateurs</h2>


  {% for message in app.session.flashbag.get('info') %}
    <div class="alert alert-info">{{ message }}</div>
  {% endfor %}

  <table class="table table-hover">
    <thead>
        <tr>
          <th></th>
          <th>Nom</th>
          <th>Email</th>
          <th>Adresse</th>
        </tr>
    </thead>
    <tbody>
        {% for user in listUsers %}
            <tr>
                <td>
                    <a href="{{ path('aubaine_user_view', {'id': user.id}) }}" >      
                        <img src="{{ vich_uploader_asset(user, 'imageFile') }}" width="60">
                    </a>
                </td>
                <td>
                    <a href="{{ path('aubaine_user_view', {'id': user.id}) }}" >      
                        <h4 class="list-group-item-heading">{{ user.username }}</h4>
                    </a>
                </td>
                <td>
                    {{ user.email }}
                </td>
                <td>
                    {{ user.addressDisplayed }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}
