{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
	<div class="edit-profile">
		<a href="{{ path('fos_user_profile_edit') }}" class="btn btn-default">
	      <i class="glyphicon glyphicon-edit"></i>
	      Modifier mes informations
	    </a>
		<a href="{{ path('fos_user_change_password') }}" class="btn btn-default">
	      <i class="glyphicon glyphicon-edit"></i>
	      Modifier mon mot de passe
	    </a>
    </div>
	<h2><b>{{ user.username }}</b> </h2>
	<p><img class="show-profile-avatar" src="{{ asset('images/avatars/' ~ user.imageName) }}"> </p>
    <p><b>{{ 'profile.show.email'|trans }}: </b>  {{ user.email }}</p>
	<p><b>Brève description : </b> {{ user.description }} </p>
	<p><b>Adresse : </b>  {{ user.addressDisplayed }}, {{ user.zipcode }} {{ user.city }}</p>
	<p><b>Horaires Lundi :</b>  {{ user.hoursMonday }}</p>
	<p><b>Horaires Mardi :</b>  {{ user.hoursTuesday }}</p>
	<p><b>Horaires Mercredi :</b>  {{ user.hoursWednesday }}</p>
	<p><b>Horaires Jeudi :</b>  {{ user.hoursThursday }}</p>
	<p><b>Horaires Vendredi :</b>  {{ user.hoursFriday }}</p>
	<p><b>Horaires Samedi :</b>  {{ user.hoursSaturday }}</p>
	<p><b>Horaires Dimanche :</b>  {{ user.hoursSunday }}</p>
</div>