{# src/OC/PlatformBundle/Resources/views/Advert/add.html.twig #}

{% extends "AubainePlatformBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block body_column_center %}
  
  <a href="{{ path('aubaine_platform_home') }}" class="btn btn-default">
    <i class="glyphicon glyphicon-chevron-left"></i>
    Retour à la liste
  </a>

  <h2>Publier une Aubaine recurente</h2>

        <form method="post" class="form myAubaines-form-multiple" action ="{{ path('aubaine_platform_add_multiple') }}">
            <textarea class="form-control" rows="3"  maxlength="250" placeholder="indiquez un message" type="text"  name="message" required="required"></textarea>
            <div  class="form-group"  id="dates">                  
                <div class="input-daterange input-group" id="datepicker">
                    <span class="input-group-addon">du</span>
                    <input type="text" class="input-sm form-control" name="start" />
                    <span class="input-group-addon">au</span>
                    <input type="text" class="input-sm form-control" name="end" />
                </div>
            </div>
            <select class="form-control" name="author_id"data-width="100%">
                <option value="eat">Boire et Manger</option>
                <option value="shop">Boutique</option>
                <option value="wellness">Bien-Être</option>
                <option value="event">Evenement</option>
            </select> 
            <div id="myAubaines-form-multiple-days" data-toggle="buttons">
                <label class="btn btn-primary">
                    <input type="checkbox" name="days_validity[]" value="Monday" autocomplete="off"> Lundi
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox" name="days_validity[]" value="Tuesday" autocomplete="off">Mardi
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox" name="days_validity[]" value="Wednesday" autocomplete="off">Mercredi
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox" name="days_validity[]" value="Thursday" autocomplete="off">Jeudi
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox" name="days_validity[]" value="Friday" autocomplete="off">Vendredi
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox" name="days_validity[]" value="Saturday" autocomplete="off">Samedi
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox" name="days_validity[]" value="Sunday" autocomplete="off">Dimanche
                </label>
            </div>

            <select class="form-control" name="author_id"data-width="100%">
                {% for user in listusers %}
                    <option value="{{ user.id }}">{{ user.username }}</option>
                {% endfor %}
            </select>   
            <button class="btn btn-primary btn-block my-aubaine-form-submit"  data-loading-text="Enregistrement..." type="submit">Partager</button>
        </form>
{% endblock %}


{% block javascripts %}
      {{ parent() }}
      <script>
      var jq = jQuery;
jq(document).ready( function() {
  jq('.input-daterange').datepicker({
      autoclose: true,
      language: "fr",
      todayHighlight: true,
      startDate: "now"
  });
});</script>
{% endblock %}