{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

{% extends "AubainePlatformBundle::layout.html.twig" %}

{% block title %}
    Mes Aubaines - {{ parent() }}
{% endblock %}

{% block aubaineplatform_body %}
<div class="row">
    <div class="col-md-12">
        
    </div>
</div>
 <div class="row">
  <div class="col-md-8">
    <div class="myAubaines-list">
        <div class="list-header">
            <h1>Votre Ardoise</h1>
            <p>
              Chaque jour partagez un message en fonction de votre activités, de vos stock, de votre humeur. Nouveau produits, évènements, promotions, destockage de fin de journée, publier ce que vous voulez pour attirer l'attention.
            </p>
        </div>
        {% for key,aubaine in days %}
            {% if aubaine.title %}  
              <div class="day day-withAubaine" {% if aubaine.date | date("U") == current_day %} id="current_aubaine" {% endif %}>
                  <div  class="date" >
                    <div class="dayofmonth">{{ key | date("j") }}</div>
                    <div class="dayofweek">{{ key | date("D") }}</div>
                    <div class="shortdate text-muted">{{ key | date("F, Y") }}</div>
                  </div>
                  <div class="aubaine"> 
                        <div  class="aubaine-title">{{aubaine.title}}</div>
                        <div  class="aubaine-message">{{aubaine.message}}</div>
                        {% if key | date("U") >= current_day %}
                            <a class="aubaine-action" href="{{ path('aubaine_platform_delete_aubaine', {'id': aubaine.id}) }}" >
                                <button class="btn btn-xs btn-danger myAubaine-delete-button ">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </a>
                        {% else %}
                            <a class="aubaine-action" href="#" >
                                <button class="btn btn-xs btn-success myAubaine-delete-button ">
                                    <span class="glyphicon glyphicon-eye-open"></span> 50 vues
                                </button>
                            </a>
                        {% endif %}
                  </div>
              </div>
            {% else %}
              <div class=" day day-withoutAubaine" {% if key | date("U") == current_day %} id="current_aubaine" {% endif %}>
                    <div  class="date" >
                        <div class="dayofmonth">{{ key | date("j") }}</div>
                        <div class="dayofweek">{{ key | date("D") }}</div>
                        <div class="shortdate text-muted">{{ key | date("F, Y") }}</div>
                    </div>
                    <div class="aubaine">
                        {% if key | date("U") >= current_day %} 
                        <form method="post" class="form myAubaines-form" action ="{{ path('aubaine_platform_ajax_add_aubaine') }}">
                            <input class="form-control"  placeholder="indiquez un titre" type="text" name="title" required="required" />
                            <input class="form-control" placeholder="indiquez un message" type="text"  name="message" required="required" />
                            <input class="form-control" type="hidden"  value="{{key}}" name="date" required="required" />
                            <button class="btn btn-primary my-aubaine-form-submit"  data-loading-text="Enregistrement..." type="submit">Partager</button>
                        </form>
                        {% else %}
                            <div  class="aubaine-indication">Pas de message</div>
                        {% endif %}
                    </div>
              </div>
            {% endif %}
        {% endfor %}
    </div>
    <ul id="myAubaines-pagination"  class="pagination">
        <li  class="previous">
            <a href="{{ path('aubaine_platform_my_aubaines', {'week': previousWeek}) }}">
                <span class="glyphicon glyphicon-arrow-left"></span>
                 Semaine précédente
            </a>
        </li>
        <li class="next">
            <a href="{{ path('aubaine_platform_my_aubaines', {'week': nextWeek}) }}">
                Semaine suivante 
                <span class="glyphicon glyphicon-arrow-right"></span> 
            </a>
        </li>
    </ul>  
  </div>
  <div class="col-md-4">
    <div class="myAubaines-map-wrapper">
      <h2>Votre marqueur actuel</h2>
      <div id="myAubaines-map"></div>
    </div>
    <div class="myAubaines-form-multiple-wrapper">
        <h2>Aubaine récurente</h2>
        <p>Utilisez ce formulaires pour partager un message récurent.</p> <br>
        <form method="post" class="form myAubaines-form-multiple" action ="{{ path('aubaine_platform_ajax_add_aubaine_multiple') }}">
            <input class="form-control"  placeholder="titre" type="text" name="title" required="required" />
            <input class="form-control" placeholder="message" type="text"  name="message" required="required" />
            <div  class="form-group"  id="dates">                  
                <div class="input-daterange input-group" id="datepicker">
                    <span class="input-group-addon">du</span>
                    <input type="text" class="input-sm form-control" name="start" />
                    <span class="input-group-addon">au</span>
                    <input type="text" class="input-sm form-control" name="end" />
                </div>
            </div>
            <div id="myAubaines-form-multiple-days" data-toggle="buttons">
                <label class="btn btn-primary">
                    <input type="checkbox" name="days_validity[]" value="Monday" autocomplete="off"> Lundi
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox" name="days_validity[]" value="Tuesday" autocomplete="off">Mardi
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox" name="days_validity[]" value="Wednesday" autocomplete="off">Mercredi
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox" name="days_validity[]" value="Thursday" autocomplete="off">Jeudi
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox" name="days_validity[]" value="Friday" autocomplete="off">Vendredi
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox" name="days_validity[]" value="Saturday" autocomplete="off">Samedi
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox" name="days_validity[]" value="Sunday" autocomplete="off">Dimanche
                </label>
            </div>
            <!-- <div id="add-deal-days_validity" class="form-group">
                <label for = "last_date" class = "control-label">Les</label>
                  <label><input type="checkbox" name="days_validity[]" value="Monday">Lundi</label>
                  <label><input type="checkbox" name="days_validity[]" value="Tuesday">Mardi</label>
                  <label><input type="checkbox" name="days_validity[]" value="Wednesday">Mercredi</label>
                  <label><input type="checkbox" name="days_validity[]" value="Thursday">Jeudi</label>
                <div class="checkbox">
                  <label><input type="checkbox" name="days_validity[]" value="Friday">Vendredi</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="days_validity[]" value="Saturday">Samedi</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="days_validity[]" value="Sunday">Dimanche</label>
                </div>
            </div> -->
            <button class="btn btn-primary btn-block my-aubaine-form-submit"  data-loading-text="Enregistrement..." type="submit">Publier</button>
        </form>
    </div>
  </div>
</div>
<script>
    var user = {{ user | raw }};
    var avatarDir = "{{ asset('images/avatars/') }}";
    var loadMarkerUrl = "{{ path('aubaine_platform_load_marker')}}";
    var currentAubaine = {{ current_aubaine | raw }};
</script>

{% endblock %}

  {% block javascripts %}
        {{ parent() }}
        {% javascripts filter='jsqueeze'
            'bundles/aubainePlatform/js/myAubaine.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
  {% endblock %}
