{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

{% extends "AubainePlatformBundle::layout.html.twig" %}

{% block title %}
    Agenda - {{ parent() }}
{% endblock %}

{% block aubaineplatform_body %}
<div class="row">
    <div class="col-md-12">
        
    </div>
</div>
 <div class="row">
  <div class="col-md-8">
    <div class="myAubaines-list">
        <div class="list-header">
            <h1>Plannifier vos message</h1>
            <p>
              Chaque jour partagez un message en fonction de votre activités, de vos stock, de votre humeur. 
            </p>
             {% for message in app.session.flashbag.get('info') %}
                <div class="alert alert-info">{{ message }}</div>
              {% endfor %}
        </div>
        {% for key,aubaine in days %}
            {% if aubaine.message %}  
              <div class="day day-withAubaine" {% if aubaine.date | date("U") == current_day %} id="current_aubaine" {% endif %}>
                  <div  class="date" >
                    <div class="dayofmonth">{{ key | date("j") }}</div>
                    <div class="dayofweek">{{ key | date("D") | trans }}</div>
                        <div class="shortdate text-muted">{{ key | date("F") | trans }}, {{ key | date("Y") }}</div>
                  </div>
                  <div class="aubaine"> 
                        <div  class="aubaine-message">{{aubaine.message}}
                            {% if key | date("U") >= current_day %}
                                <form method="post" class="myAubaines-form-delete aubaine-action" action ="{{ path('aubaine_platform_ajax_delete_aubaine') }}">
                                    <input class="form-control" type="hidden"  value="{{aubaine.id}}" name="id_aubaine" required="required"  autocomplete="off" />
                                    <button class="btn btn-xs btn-danger my-aubaine-form-delete-submit" type="submit" data-loading-text="...">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </form>
                            {% else %}
                                <a class="aubaine-action" href="#" >
                                    <button class="btn btn-xs btn-success">
                                        <span class="glyphicon glyphicon-eye-open"></span> 50 vues
                                    </button>
                                </a>
                            {% endif %}
                        </div>
                  </div>
              </div>
            {% else %}
              <div class=" day day-withoutAubaine" {% if key | date("U") == current_day %} id="current_aubaine" {% endif %}>
                    <div  class="date" >
                        <div class="dayofmonth">{{ key | date("j") }}</div>
                        <div class="dayofweek">{{ key | date("D") | trans }}</div>
                        <div class="shortdate text-muted">{{ key | date("F") | trans }}, {{ key | date("Y") }}</div>
                    </div>
                    <div class="aubaine">
                        {% if key | date("U") >= current_day %} 
                        <form method="post" class="form myAubaines-form" action ="{{ path('aubaine_platform_ajax_add_aubaine') }}">
                            <textarea class="form-control" rows="2"  maxlength="250" placeholder="indiquez un message" type="text"  name="message" required="required"></textarea>
                            <input class="form-control" type="hidden"  value="{{key}}" name="date" required="required"  autocomplete="off" />
                            <div class="form-submit-wrapper">
                                <button class="btn btn-primary my-aubaine-form-submit"  data-loading-text="Enregistrement..." type="submit">Partager</button>
                            </div>
                        </form>
                        {% else %}
                            <div  class="aubaine-indication">Pas de message</div>
                        {% endif %}
                    </div>
              </div>
            {% endif %}
        {% endfor %}
    </div>
    <ul id="myAubaines-pagination"  class="pagination">
        <li  class="previous">
            <a href="{{ path('aubaine_platform_my_aubaines', {'week': previousWeek}) }}">
                <span class="glyphicon glyphicon-arrow-left"></span>
                 Semaine précédente
            </a>
        </li>
        <li class="next">
            <a href="{{ path('aubaine_platform_my_aubaines', {'week': nextWeek}) }}">
                Semaine suivante 
                <span class="glyphicon glyphicon-arrow-right"></span> 
            </a>
        </li>
    </ul>  
  </div>
  <div class="col-md-4">
    <div class="myAubaines-map-wrapper">
      <h2>Votre marqueur actuel</h2>
      <div id="myAubaines-map"></div>
    </div>
    <div class="myAubaines-form-multiple-wrapper">
        <h2>Message récurente</h2>
        <p>Utilisez ce formulaires pour partager un message récurent.</p> <br>
        <form method="post" class="form myAubaines-form-multiple" action ="{{ path('aubaine_platform_ajax_add_aubaine_multiple') }}">
            <textarea class="form-control" rows="3"  maxlength="250" placeholder="indiquez un message" type="text"  name="message" required="required"></textarea>
            <div  class="form-group"  id="dates">                  
                <div class="input-daterange input-group" id="datepicker">
                    <span class="input-group-addon">du</span>
                    <input type="text" class="input-sm form-control" name="start" />
                    <span class="input-group-addon">au</span>
                    <input type="text" class="input-sm form-control" name="end" />
                </div>
            </div>
            <div id="myAubaines-form-multiple-days" data-toggle="buttons">
                <label class="btn btn-primary">
                    <input type="checkbox" name="days_validity[]" value="Monday" autocomplete="off"> Lundi
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox" name="days_validity[]" value="Tuesday" autocomplete="off">Mardi
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox" name="days_validity[]" value="Wednesday" autocomplete="off">Mercredi
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox" name="days_validity[]" value="Thursday" autocomplete="off">Jeudi
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox" name="days_validity[]" value="Friday" autocomplete="off">Vendredi
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox" name="days_validity[]" value="Saturday" autocomplete="off">Samedi
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox" name="days_validity[]" value="Sunday" autocomplete="off">Dimanche
                </label>
            </div>
            <button class="btn btn-primary btn-block my-aubaine-form-submit"  data-loading-text="Enregistrement..." type="submit">Partager</button>
        </form>
    </div>
  </div>
</div>
<script>
    var user = {{ user | raw }};
    var avatarDir = "{{ asset('images/avatars/') }}";
    var loadMarkerUrl = "{{ path('aubaine_platform_load_marker')}}";
    var currentAubaine = {{ current_aubaine | raw }};
</script>

{% endblock %}

  {% block javascripts %}
        {{ parent() }}
        {% javascripts filter='jsqueeze'
            'bundles/aubaineplatform/js/myAubaine.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
  {% endblock %}
