{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

{% extends "AubainePlatformBundle::layout.html.twig" %}

{% block title %}
  Aubaine - {{ parent() }}
{% endblock %}

{% block aubaineplatform_body %}


  <div class="aubaine">
    <div class="header">
      <img src="{{ asset('images/place/' ~ aubaine.place.imageHeader) }}" alt="" class="avatar">
    </div>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
      {% if aubaine.place.id in app.user.placesId %}
        <div class="edit">
          <a class="btn btn-danger" href="{{ path('aubaine_platform_delete_aubaine', {'id': aubaine.id}) }}">Supprimer</a>
        </div>  
      {% endif %}
    {% endif %}

		<h1>  {{ aubaine.message | raw }}</h1>
  	<div class="category">
      <h2>
        <img src="{{ asset('images/'~aubaine.category~'.png') }} " alt="" class="category-logo category-{{ aubaine.category }}">
        {{ aubaine.category | trans }}
      </h2>
    </div>
    <div class="date">
      <h2>
        <img src="{{ asset('images/calendar.png') }} " alt="" class="calendar">
        {% if  aubaine.type == 3 %}
        Le {{ aubaine.start | date("d") }} {{ aubaine.start | date("F") | trans }}
        {% elseif aubaine.type == 2 %}
            {% if aubaine.start | date("F") == aubaine.end | date("F") %}
                Du {{ aubaine.start | date("d") }} au {{ aubaine.end | date("d") }} {{ aubaine.end | date("F") | trans }}
            {% else %}
                Du {{ aubaine.start | date("d") }} {{ aubaine.start | date("F") | trans }} au {{ aubaine.end | date("d") }} {{ aubaine.end | date("F") | trans }}
            {% endif %}
        {% else %}
        Toute l'année
        {% endif %}
      </h2>
    </div>
    <div class="place">
      <h2>
        <img src="{{ asset('images/location.png') }} " alt="" class="location"> 
        {{ aubaine.place.title }} 
        <form method="post" class="preference-form form" action ="{{ path('aubaine_user_ajax_togglepreference') }}">
            <input type="hidden"  name="preference" value="{{ aubaine.place.id }}" required="required">
            {% if aubaine.place.id in app.user.preferences %}
                <input type="hidden" class="addorremove"  name="addorremove" value="remove" required="required">
                <input class="submit removePreference-button"  data-loading-text="Enregistrement..." type="submit" value="">
            {% else %}
                <input type="hidden" class="addorremove"  name="addorremove" value="add" required="required">
                <input class="submit addPreference-button"  data-loading-text="Enregistrement..." type="submit" value="">
            {% endif %}
        </form>
      </h2>
      <div class="row">
          <div class="col-md-6">
            <div class="introduction">{{ aubaine.place.introduction | raw }}</div>
            <div class="content">{{ aubaine.place.content | raw }}</div>
            <div class="information">{{ aubaine.place.information | raw }}</div>
            <div class="address">
               <b>Adresse</b>
               <p>{{ aubaine.place.address }}, {{ aubaine.place.zipcode }} {{ aubaine.place.city }}</p>
            </div>
            {% if aubaine.place.phone %} 
              <div class="phone">
                 <b>Téléphone</b>
                 <p>0{{ aubaine.place.phone }} </p>
              </div>
            {% endif %}
            <div class="hours">
               <b>Horaires d'ouverture</b>
              <table class="table">
                  <tbody>
                    <tr>
                      <td>Lundi</td>
                      <td>{{ aubaine.place.hoursMonday | default('fermé') }}</td>
                    </tr>
                    <tr>
                      <td>Mardi</td>
                      <td>{{ aubaine.place.hoursTuesday | default('fermé') }}</td>
                    </tr>
                    <tr>
                      <td>Mercredi</td>
                      <td>{{ aubaine.place.hoursWednesday | default('fermé') }}</td>
                    </tr>
                    <tr>
                      <td>Jeudi</td>
                      <td>{{ aubaine.place.hoursThursday | default('fermé') }}</td>
                    </tr>
                    <tr>
                      <td>Vendredi</td>
                      <td>{{ aubaine.place.hoursFriday | default('fermé') }}</td>
                    </tr>
                    <tr>
                      <td>Samedi</td>
                      <td>{{ aubaine.place.hoursSaturday | default('fermé') }}</td>
                    </tr>
                    <tr>
                      <td>Dimanche</td>
                      <td>{{ aubaine.place.hoursSunday | default('fermé') }}</td>
                    </tr>
                  </tbody>
                </table>
            </div>
          </div>
          <div class="col-md-6">
            {% if aubaine.place.image1 %}
              <img class="image" src="{{ asset('images/place/' ~ aubaine.place.image1) }}" alt="">
            {% endif %}
            {% if aubaine.place.image2 %}
              <img class="image" src="{{ asset('images/place/' ~ aubaine.place.image2) }}" alt="">
            {% endif %}
          </div>      
      </div>
    </div>
  </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='jsqueeze'
        'bundles/aubaineplatform/js/publicView.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
